[Unit]
Description=GitHub Webhook Handler
After=network.target

[Service]
Type=simple
User=mzpdqk
Group=mzpdqk
WorkingDirectory=/home/mzpdqk/devops/catty-reminders-app
Environment="PATH=/usr/bin:/bin:/usr/local/bin:/home/mzpdqk/devops/catty-reminders-app/venv/bin"
ExecStart=/home/mzpdqk/devops/catty-reminders-app/venv/bin/python3 /home/mzpdqk/devops/catty-reminders-app/webhook/webhook.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
